@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="list-group-item bg-dark border-0">
    <div class="row justify-content-center">

        <div class="col-md-4 list-group-item-info ">
              <h3>
                  Du skal logge ind for at se mere!

                  Har du ikke adgang kontakt en fra project teamet
              </h3>
        </div>

    </div>
</div>