@{
    ViewData["Title"] = "UserLogin";
}

@model Skp_ProjektDB.Models.User

<div class="container">

    <form asp-action="UserLogin" asp-controller="User">
        <div class="list-group">
            <div class="list-group-item list-group-item-info w-25">
                <label class="align-top" asp-for="@Model.Login"></label>
                <br />
                <input type="text" name="loginName" placeholder="Login name (Unilogin)" required />
            </div>
            <div class="list-group-item list-group-item-info w-25">
                <label>Kodeord</label>
                <br />
                <input type="password" name="password" required />
            </div>

        </div>
        <input class="btn bg-info btn-dark" type="submit" value="Login"/>
    </form>

</div>